<form [formGroup]="form">
  <mat-card>
    <mat-card-title>{{ operacao }}</mat-card-title>
    <mat-form-field>
      <input matInput placeholder="Id" formControlName="id" readonly />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Descrição" formControlName="descricao" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Quantidade" formControlName="quantidade" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Preço (R$)" formControlName="preco" />
    </mat-form-field>

    <button mat-raised-button (click)="save()" color="primary">
      Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  </mat-card>
</form>
